.profile__edit-button {
  position: absolute;
  top: 15px;
  right: -42px;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile-edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  transition: opacity 0.3s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .profile__edit-button {
    top: 8px;
    right: -28px;
    width: 18px;
    height: 18px;
  }
}